.header_top {}

.header_top_wrap {
    display: flex;

    padding: 10px 0 0 0;
}

.header_top_wrap>* {
    flex: 1;
}

.header_top_wrap h1 {
    width: 200px;
    padding: 10px 0;
}

#form {
    display: flex;
    align-items: center;

    justify-content: space-between;

    flex: 0 0 400px;
    height: 40px;
    align-self: center;
    background: #f1f1f1;
    border-radius: 20px;

    padding: 0 30px;

}

#form input[type="text"] {
    font-size: 14px;
    border: none;
    background: transparent;
}

#form input[type="submit"] {
    border: none;
    background: transparent;
}

#form span {
    cursor: pointer;
}


.header_top_wrap .customer {
    flex: 1;
    display: flex;
}

.header_top_wrap .customer .m_btn {
    display: none;
}

.header_top_wrap .customer ul {
    display: flex;
    margin: 0 0 0 auto;
    gap: 20px;
    text-align: center;
}

.header_top_wrap .customer ul span {
    font-size: 32px;
}

.header_top_wrap .customer ul a {
    padding: 15px 0;
}

.header_top_wrap .customer ul li {
    font-size: 12px;
    font-weight: 600;
    text-align: center;
}

.header_bottom_wrap {
    display: flex;
    justify-content: space-between;
}

.header_bottom_wrap .header_bottom_left ul {
    display: flex;
    line-height: 60px;
}

.header_bottom_wrap .header_bottom_left ul a {
    margin: 0 20px 0 0;
}

.header_bottom_wrap .header_bottom_left ul a:nth-child(1) {
    margin: 0 4px 0 0;
    color: #4c73a9;
}

.header_bottom_wrap .header_bottom_left ul a:nth-child(2) {
    color: #4c73a9;
}

.header_bottom_wrap ul li {
    font-size: 14px;
    font-weight: 600;
}

.header_bottom_wrap ul li:hover {
    color: #4c73a9;
}

.header_bottom_wrap .header_bottom_left ul li span {
    vertical-align: middle;
    font-size: 32px;
    color: #4c73a9;
}

.header_bottom_wrap .header_bottom_right ul {
    display: flex;
    line-height: 60px;
}

.header_bottom_wrap .header_bottom_right ul a {
    margin: 0 0 0 20px;
}


@media (max-width: 768px) {
    .header_top {}

    .header_top_wrap {
        display: flex;

        padding: 0 0 0 0;
        /* ck */
    }

    .header_top_wrap>* {
        flex: 1;
    }

    .header_top_wrap h1 {

        padding: 10px 0;
    }

    #form {
        display: none;
        align-items: center;

        justify-content: space-between;

        flex: 0 0 400px;
        height: 40px;
        align-self: center;
        background: #f1f1f1;
        border-radius: 20px;

        padding: 0 30px;


        /* ck */
    }

    #form input[type="text"] {
        font-size: 14px;
        border: none;
        background: transparent;
    }

    #form input[type="submit"] {
        border: none;
        background: transparent;
    }

    #form span {
        cursor: pointer;
    }


    .header_top_wrap .customer {
        justify-content: flex-end;
        vertical-align: middle;
    }

    .header_top_wrap .customer .m_btn {
        display: block;
        text-align: right;

        line-height: 82px;
        /* ck */
    }

    .header_top_wrap .customer .m_btn span {}



    .header_top_wrap .customer ul {
        display: none;
        margin: 0 0 0 auto;
        gap: 20px;
        text-align: center;
    }

    .header_top_wrap .customer ul span {
        font-size: 32px;
    }

    .header_top_wrap .customer ul a {
        padding: 15px 0;
    }

    .header_top_wrap .customer ul li {
        font-size: 12px;
        font-weight: 600;
        text-align: center;
    }

    .header_bottom_wrap {
        display: none;
        justify-content: space-between;
    }

    .header_bottom_wrap .header_bottom_left ul {
        display: flex;
        line-height: 60px;
    }

    .header_bottom_wrap .header_bottom_left ul a {
        margin: 0 20px 0 0;
    }

    .header_bottom_wrap .header_bottom_left ul a:nth-child(1) {
        margin: 0 4px 0 0;
        color: #4c73a9;
    }

    .header_bottom_wrap .header_bottom_left ul a:nth-child(2) {
        color: #4c73a9;
    }

    .header_bottom_wrap ul li {
        font-size: 14px;
        font-weight: 600;
    }

    .header_bottom_wrap ul li:hover {
        color: #4c73a9;
    }

    .header_bottom_wrap .header_bottom_left ul li span {
        vertical-align: middle;
        font-size: 32px;
        color: #4c73a9;
    }

    .header_bottom_wrap .header_bottom_right ul {
        display: flex;
        line-height: 60px;
    }

    .header_bottom_wrap .header_bottom_right ul a {
        margin: 0 0 0 20px;
    }
}



.main_slide_wrap .main_slide_wrapper .itm {
    position: relative;
    height: 600px;
}

.main_slide_wrap .itm01 {
    background: linear-gradient(#007dd5 80%, #ffffff 50%);
}

.main_slide_wrap .itm02 {
    background: linear-gradient(#ffbb69 80%, #ffffff 50%);
}

.main_slide_wrap .itm03 {
    background: linear-gradient(#bdc1ff 80%, #ffffff 50%);
}

.main_slide_wrap .itm04 {
    background: linear-gradient(#41b0ff 80%, #ffffff 50%);
}

.main_slide_wrap .itm05 {
    background: linear-gradient(#f9c980 80%, #ffffff 50%);
}

.main_slide_wrap .itm06 {
    background: linear-gradient(#5B5557 80%, #ffffff 50%);
}

.main_slide_wrap .itm07 {
    background: linear-gradient(#add1ea 80%, #ffffff 50%);
}

.main_slide_wrap .itm a>* {
    position: absolute;
}

.main_slide_wrap .itm figure {
    width: 60%;
    top: 0;
    right: 0;
    height: 600px;
    display: flex;
    justify-content: center;
}


.main_slide_wrap .itm figure img {
    width: 100%;
    object-fit: cover;
}




.main_slide_wrap .itm .txt_box {
    margin: 0 auto;
    top: 20%;
    left: 370px;

    color: #ffffff;

    transition: 0.7s;
    transition-delay: 0.3s;

    opacity: 0;
}

#main .main_slide_wrap .swiper-slide-active .txt_box {

    opacity: 1;
}

.main_slide_wrap .itm .txt_box strong {
    font-size: 36px;
    font-weight: 800;
    line-height: 48px;
}

.main_slide_wrap .itm .txt_box span {
    display: block;
    font-size: 36px;
    font-weight: 800;

    margin: 0 0 40px 0;
}


.main_slide_wrap .itm .txt_box p {
    display: block;
    font-size: 20px;
    line-height: 24px;
}

#main .main_slide_wrap .sl_btn_wrap {
    position: relative;
    left: 370px;
}

#main .main_slide_wrap .sl_btn_wrap .sl_btn {
    position: absolute;

    right: auto;
    top: auto;
    bottom: 1px;
    width: 20px;
    height: 20px;

    padding: 16px;
    border-radius: 50%;

    color: #fff;
    background: #000;
}

#main .main_slide_wrap .swiper-button-next {
    left: 45px;
}

#main .main_slide_wrap .swiper-button-next::after {
    font-size: 12px;
}

#main .main_slide_wrap .swiper-button-prev {
    left: 0;
}

#main .main_slide_wrap .swiper-button-prev::after {
    font-size: 12px;
}

#main .main_slide_wrap .swiper-pagination {
    text-align: left;
    left: 120px;
}

@media (max-width: 1200px) {
    .main_slide_wrap .main_slide_wrapper .itm {
        position: relative;
        height: 600px;
    }

    .main_slide_wrap .itm figure {
        width: 60%;
        top: 0;
        right: 0;
        height: 600px;
        display: flex;
        justify-content: center;
    }


    .main_slide_wrap .itm figure img {
        width: 100%;
        object-fit: cover;
    }




    .main_slide_wrap .itm .txt_box {
        margin: 0 auto;
        top: 20%;
        left: 30px;

        color: #ffffff;

        transition: 0.7s;
        transition-delay: 0.3s;

        opacity: 0;
    }

    #main .main_slide_wrap .swiper-slide-active .txt_box {

        opacity: 1;
    }

    .main_slide_wrap .itm .txt_box strong {
        font-size: 36px;
        font-weight: 800;
        line-height: 48px;
    }

    .main_slide_wrap .itm .txt_box span {
        display: block;
        font-size: 36px;
        font-weight: 800;

        margin: 0 0 40px 0;
    }


    .main_slide_wrap .itm .txt_box p {
        display: block;
        font-size: 20px;
        line-height: 24px;
    }

    #main .main_slide_wrap .sl_btn_wrap {
        position: relative;
        left: 30px;
    }

    #main .main_slide_wrap .sl_btn_wrap .sl_btn {
        position: absolute;

        right: auto;
        top: auto;
        bottom: 1px;
        width: 20px;
        height: 20px;

        padding: 16px;
        border-radius: 50%;

        color: #fff;
        background: #000;
    }

    #main .main_slide_wrap .swiper-button-next {
        left: 45px;
    }

    #main .main_slide_wrap .swiper-button-next::after {
        font-size: 12px;
    }

    #main .main_slide_wrap .swiper-button-prev {
        left: 0;
    }

    #main .main_slide_wrap .swiper-button-prev::after {
        font-size: 12px;
    }

    #main .main_slide_wrap .swiper-pagination {
        text-align: left;
        left: 120px;
    }
}







.modu_flex_wrap .itm_box {
    display: flex;
    gap: 30px;
}

.modu_flex_wrap .itm_box figure {
    height: 200px;
    overflow: hidden;

    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

.modu_flex_wrap .itm_box figure img {
    object-fit: cover;
}

.modu_flex_wrap .itm_box .txt_box {
    position: relative;
    height: 240px;
    padding: 20px 30px;
    border: 1px solid #f1f1f1;

    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    font-weight: 500;
}

.modu_flex_wrap .itm_box .txt_box>* {
    display: block;
}

.modu_flex_wrap .itm_box .txt_box span {
    color: #666;
    font-size: 18px;
    margin: 0 0 20px 0;
}

.modu_flex_wrap .itm_box .txt_box strong {
    font-size: 24px;
    word-break: keep-all;
    margin: 0 0 20px 0;
    line-height: 32px;
}

.modu_flex_wrap .itm_box .txt_box p {
    font-size: 14px;

    line-height: 20px;
    color: #666;
}

.modu_flex_wrap .itm_box .txt_box em {
    position: absolute;
    bottom: 30px;
    right: 20px;

    font-size: 20px;
    font-weight: 700;
}

.classic .classic_wrap {
    text-align: center;
}

.classic .classic_wrap .grid_wrap {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 30px;

    height: 500px;
}

.classic .classic_wrap .grid_wrap .itm:nth-child(1) {
    grid-column: 1 /2;
    grid-row: 1/3;
}




.classic .classic_wrap .grid_wrap .itm {
    position: relative;
    width: 100%;
    height: 100%;
    filter: grayscale(1);
    overflow: hidden;
    border-radius: 20px;
    transition: 0.5s;

}

.classic .classic_wrap .grid_wrap .itm.on {
    filter: none;
    background-size: 110% 110%;
}


.classic .classic_wrap .grid_wrap .itm01 {
    background: url(../images/figma/grid05.avif) no-repeat center center/100% 100%;
}

.classic .classic_wrap .grid_wrap .itm02 {
    background: url(../images/figma/grid01.avif) no-repeat center center/100% 100%;
}

.classic .classic_wrap .grid_wrap .itm03 {
    background: url(../images/figma/grid02.avif) no-repeat center center/100% 100%;
}

.classic .classic_wrap .grid_wrap .itm04 {
    background: url(../images/figma/grid03.avif) no-repeat center center/100% 100%;
}

.classic .classic_wrap .grid_wrap .itm05 {
    background: url(../images/figma/grid04.avif) no-repeat center center/100% 100%;
}

.classic .classic_wrap .grid_wrap .itm .main_txt::before {
    position: absolute;
    content: "";
    inset: 0 0 0 0;

    background: #000;
    opacity: 0.3;
    transition: 0.5s;

    border-radius: 20px;
}

.classic .classic_wrap .grid_wrap .itm .main_txt strong {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    font-size: 60px;
    font-weight: 800;
    color: #fff;

    opacity: 1;

    user-select: none;
}

.classic .classic_wrap .grid_wrap .itm .main_txt .txt_box {
    position: absolute;
    bottom: 0;
}

.classic .classic_wrap .grid_wrap .itm .main_txt .txt_box span {
    display: block;

    font-size: 24px;
    line-height: 28px;

    margin: 0 0 24px 0;
}

.classic .classic_wrap .grid_wrap .itm .main_txt .txt_box p {
    font-size: 14px;

    width: 300px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}


.classic .classic_wrap .grid_wrap .itm .main_txt .txt_box {
    position: absolute;
    left: 0;
    width: 100%;

    padding: 0 15px 20px 15px;

    opacity: 0;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5690651260504201) 20%, rgba(0, 0, 0, 0) 100%);
    color: #fff;
    text-align: left;
    transition: 0.5s;

    text-shadow: #000 1px 0 20px;


    transform: translate(0, 100%);
}






.classic .classic_wrap .grid_wrap .itm.on .txt_box {
    transform: translate(0, 0);

    opacity: 1;
}

.classic .classic_wrap .grid_wrap .itm.on .main_txt::before {
    opacity: 0;
}


.classic .classic_wrap .grid_wrap .itm.on strong {
    opacity: 0;
}




.mbn_wrap {
    position: relative;
    display: flex;
}

.mbn_wrap .left_txt {
    position: relative;
    max-width: 285px;
    width: 100%;
    margin: 0 30px 0 0;
}

.mbn_wrap .left_txt span {
    display: block;
    margin: 0 0 8px 0;
}

.mbn_wrap .left_txt span>a {
    text-decoration: underline;
    font-weight: 600;
}

.mbn_wrap .left_txt h2 {
    word-break: keep-all;
    line-height: 40px;
}

.mbn_wrap .left_txt p {
    display: block;
    line-height: 22px;
    font-weight: 600;

    margin: 0 0 20px 0;
}




.mbn_wrap .left_txt .swiper-button-next {
    position: absolute;
    left: 50px;
    right: auto;
    top: auto;
    bottom: 0;

    width: 20px;
    height: 20px;

    padding: 16px;

    color: #fff;
    background: #000;
}

.mbn_wrap .left_txt .swiper-button-next::after {
    font-size: 12px;
    font-weight: 800;
}

.mbn_wrap .left_txt .swiper-button-prev {
    position: absolute;
    left: 0;
    right: auto;
    top: auto;
    bottom: 0;

    width: 20px;
    height: 20px;

    padding: 16px;

    color: #fff;
    background: #000;
}

.mbn_wrap .left_txt .swiper-button-prev::after {
    font-size: 12px;
    font-weight: 800;
}


.mbn_wrap .mbn_slide .itm {
    position: relative;
}

.mbn_wrap .mbn_slide .itm figure {
    height: 370px;
    overflow: hidden;
}

.mbn_wrap .mbn_slide .itm figure img {
    height: 300px;
    border-radius: 25px;

    object-fit: cover;
}

.mbn_wrap .mbn_slide .itm .txt_box {
    position: absolute;
    width: 80%;
    bottom: 70px;
    left: 50%;

    height: 140px;
    padding: 20px;

    transform: translate(-50%, 50%);
    border-radius: 25px;

    word-break: keep-all;


    background: #fff;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.mbn_wrap .mbn_slide .itm .txt_box span {
    display: block;
    font-weight: 600;
    font-size: 18px;
    line-height: 20px;

    margin: 0 0 16px 0;
}

.mbn_wrap .mbn_slide .itm .txt_box p {
    color: #666;
    font-size: 14px;

    margin: 0 0 8px 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}

.mbn_wrap .mbn_slide .itm .txt_box strong {
    position: absolute;
    bottom: 20px;
    font-weight: 600;
    font-size: 20px;
}

.notice {
    background: #f1f1f1;

}

.notice_wrap {}

.notice_top {
    display: flex;
    gap: 30px;

    margin: 0 0 40px 0;
}

.notice_top>* {
    flex: 1;
    max-width: 570px;
}

.notice_top .right {
    display: flex;
    justify-content: space-between;

}

.notice_top .right span {
    align-self: center;
}

.notice_top strong {
    display: block;
    font-size: 32px;
    font-weight: 800;

}

.notice_bottom {
    display: flex;
}

.notice_bottom>* {
    flex: 1;
}

.notice_bottom .left {
    display: flex;
    gap: 60px;

    align-self: center;
}

.notice_bottom .left>* {

    text-align: center;

}


.notice_bottom .left .itm .itm_box .icon {
    font-size: 60px;
    padding: 16px;
    background: #fff;

    border-radius: 50%;
    margin: 0 0 16px 0;
}



.notice_bottom .left .itm em {
    font-size: 16px;
    font-weight: 600;

}

.notice_bottom .right ul a:hover {
    text-decoration: underline;
}

.notice_bottom .right ul li {
    line-height: 60px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.notice_bottom .right ul li em {
    font-weight: 700;
}

#footer {}

.footer_wrap {}

.footer_wrap .footer_top {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);

    line-height: 48px;
}

.footer_wrap .footer_top_wrap {
    display: flex;
    justify-content: space-between;
}

.footer_wrap .footer_top ul {
    display: flex;
    align-items: center;

    gap: 30px;

}

.footer_wrap .footer_top ul li {
    position: relative;
}

.footer_wrap .footer_top ul li:nth-child(2) {
    font-weight: 800;
}

.footer_wrap .footer_top ul li~li::after {
    content: "";
    position: absolute;
    top: 24px;
    left: -15px;
    width: 1px;
    height: 10px;
    background: rgba(0, 0, 0, 0.2);

    transform: translate(0, -50%);
}

.footer_wrap .footer_bottom {
    padding: 24px 0;
}

.footer_wrap .footer_bottom .footer_bottom_wrap {
    display: flex;
    justify-content: space-between;
}

.footer_wrap .footer_bottom .left {
    max-width: 900px;
}

.footer_wrap .footer_bottom .left_top {
    margin: 0 0 16px 0;
}

.footer_wrap .footer_bottom .left_top ul li {
    position: relative;
    display: inline-block;
    padding: 0 20px 12px 0;
    color: rgba(0, 0, 0, 0.6);
}

.footer_wrap .footer_bottom .left_top ul li~li::after {
    content: "";
    position: absolute;
    top: 2px;
    left: -11px;
    width: 1px;
    height: 10px;
    background: rgba(0, 0, 0, 0.3);

}

.footer_wrap .footer_bottom .left_top ul li a {
    display: flex;
    gap: 10px;
}

.footer_wrap .footer_bottom .left_top ul li a span {
    font-weight: 600;
}

.footer_wrap .footer_bottom .left_bottom {}

.footer_wrap .footer_bottom .left_bottom ul li {
    font-size: 12px;
    line-height: 22px;
    color: rgba(0, 0, 0, 0.3);

    word-break: keep-all;

}

.footer_wrap .footer_bottom .left_bottom ul .copy {
    font-weight: 700;
}

.footer_wrap .footer_bottom .right {}

.footer_wrap .footer_bottom .right figure {
    text-align: right;
    margin: 0 0 16px 0;
}

.footer_wrap .footer_bottom .right figure img {
    height: 50px;
    object-fit: cover;
}

.footer_wrap .footer_bottom .right .sns {
    display: flex;
    gap: 20px;


}

.footer_wrap .footer_bottom .right .sns>* {
    font-size: 24px;
    padding: 8px;
    background: #ddd;
    border-radius: 12px;

    color: #fff;
}